/*
 * mandatory styles to make it work
 */

#skiplinks {
	position: absolute;
	top: 0;
	left: -9999px;
	z-index: 9999;
	height: 1px;
	width: 100%;
}

#skiplinks a:focus,
#skiplinks a:active {
	position: absolute;
	top: 0;
	left: 9999px;
	outline: 0 none;	
	/* your design */
}